body{
    background-color: rgb(226, 231, 236);
}
.facebook{
    width: 100%;
    height: 100%;
    background-color: #bf0606;
}
.child_facebook{
    width: 500px;
    height: 400px;
    margin-top: 250px;
    margin-left: 150px;
}
.child_facebook h1{
    font-family: "Lato", sans-serif;
    font-size: 60px;
    color: #3742fa;
}
.child_facebook p{
    margin-top: -45px;
    font-size: 25px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box{
   width: 360px;
   height: 300px;
   background-color: rgb(253, 253, 253);
 margin-top: -450px;
 margin-left: 750px;
 box-shadow: 0px 0px 10px 10px rgba(175, 174, 174, 0.5); 
border-radius: 5px;

}
.box input{
    width: 330px;
    height: 40px;
  margin-left: 9px;
  margin-top: 9px;
  border-radius: 5px;
  border: 2px solid white;
  border-top: 1.5px solid rgb(200, 200, 200);
  border-bottom: 1.5px solid rgb(200, 200, 200); 
  border-left: 1.5px solid rgb(200, 200, 200);
  border-right: 1.5px solid rgb(200, 200, 200);
  padding-left: 7px;
  background-color: rgb(253, 253, 253);
}
.box input::placeholder{
    color: rgb(207, 202, 202);
    font-size: 17px;
}
button{
    font-size: 16px;
    padding: 10px 150px;
    margin-left: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color:#3742fa;
    color: white;
}
button:hover{
    opacity: 0.9;
}
.box a{
 margin-left: 116px;
 margin-top: -10px;
 text-decoration: none;
 color: #3742fa;
}
.box a:hover{
    text-decoration: underline;
}
.fecibad{
    width: 300px;
    height: 1px;
    background-color: rgb(200, 200, 200);
    margin-left: 25px;
}
.create{
    width: 400px;
    height: 50px;
    /* background-color: #bf0606; */
    margin-left: 750px;
    margin-top: 30px;
}
.create a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.create pre{
    margin-top: -18px;
    margin-left: 120px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
